/bin/
/eclipse/
/README.txt
/.classpath
/.project
/forge-*.txt
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/.gradle/
/.settings/
.metadata/
/build/
/run/
/jars/
